/* ---------------------------------------- */
/* Basic Setup */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
    color: #ffffff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.container {
    display: flex; 
    height: 100vh;
    flex-direction: row;
}

a {
    color: #fff;
    text-decoration: none;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/controller.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
    
.main-header {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s;
 
}

/* -------- BUTTONS -------- */

.btn-enter {
    background-color: #3498db;
    border-radius: 200px;
}   

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
    margin: 540px;
    padding: 3px 10px;
    transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
    background-color: #196090;
}

/* -------- HEADINGS -------- */

h1 {
    text-align: center;
    margin-bottom: 5px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    
}



h3 {
    background-color: #3498db;
    text-align: center;
    border-radius: 200px;
    transition: background-color 0.3s;
}

h3:hover {
    background-color: #196090;
}

h4 {
    text-align: center;
    font-size: 30px;
    margin: 50px;
    border: solid 5px #3498db;
    border-radius: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(200, 0, 0, 0.6));
    
}

/* -------- PARAGRAPHS -------- */

P {
    text-align: center;
}


/* -------- NAV BAR -------- */

.main-nav {
    text-align: center;
    list-style: none;
    margin-right: 0px;
    padding-top: 550px;
    padding-right: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    
}

.main-nav li {
    color: #fff; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    padding: 5px 0;
}

.main-nav li:hover {
    border-bottom: 2px solid rgb(25, 96, 144);
}



/* -------- FLEX-BOX -------- */

.box {
    width: 33.333%;
    flex-shrink: 20%;
    margin: 10px;
    cursor: pointer;
}
    

.box2 {
    border: solid;
    height: 800px;
    color: #196090;
    margin-top: 5px;
    border-width: thick;
    border-radius: 10%;
   
}

.box2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(25, 96, 144, 0.2))
}
/* -------- LATEST ENTRIES -------- */


.gaming2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/black-black-background-buttons-1337247.jpg);
    background-size: cover;
}

.music2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/acoustic-acoustic-guitar-antique-1010519.jpg);
    background-size: cover;
}


.streaming2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/broadcasting-computer-electronics-1212829.jpg);
    background-size: cover;
}

.writing2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/blank-brainstorming-business-6357.jpg);
    background-size: cover;
}
    

/* -------- MAIN SECTIONS -------- */

#Gaming3 {
    padding-bottom: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 118, 255, 0.6));
    
    
}

#Music3 {
    padding-bottom: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 118, 255, 0.6));
    
}

#Streaming3 {
    padding-bottom: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 118, 255, 0.6));
    
}

#Writing3 {
    padding-bottom: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 118, 255, 0.6));
    
}